<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Registration and Login System</title>
  <div th:insert="~{baseElements/scripts :: script}"></div>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid mt-2">
    <a class="navbar-brand" th:href="@{/index}">Enregistrement</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/login}">Connexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br /><br /><br />
<div class="container mt-2">
  <div class="row col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h2 class="text-center">Enregistrement</h2>
      </div>
      <div th:if="${param.success}">
        <div class="alert alert-info">
          Votre compte a bien été enregistré !
        </div>
      </div>
      <div class="card-body">
        <form
                method="post"
                role="form"
                th:action="@{/register/save}"
                th:object="${user}"
        >
          <div class="form-group mb-3">
            <label class="form-label">Civilté</label>
            <select class="form-control"
                   id="civility"
                   name="civility"
                   th:field="*{civility}"
                   type="text"
            >
              <option value="M.">M.</option>
              <option value="Mme.">Mme.</option>
            </select>
            <p th:errors = "*{civility}" class="text-danger"
               th:if="${#fields.hasErrors('civility')}"></p>
          </div>

          <div class="form-group mb-3">
            <label class="form-label">Prénom</label>
            <input class="form-control"
                    id="firstName"
                    name="firstName"
                    th:field="*{firstName}"
                    type="text"
            />
            <p th:errors = "*{firstName}" class="text-danger"
               th:if="${#fields.hasErrors('firstName')}"></p>
          </div>

          <div class="form-group mb-3">
            <label class="form-label">Nom</label>
            <input class="form-control"
                    id="lastName"
                    name="lastName"
                    th:field="*{lastName}"
                    type="text"
            />
            <p th:errors = "*{lastName}" class="text-danger"
               th:if="${#fields.hasErrors('lastName')}"></p>
          </div>

          <div class="form-group mb-3">
            <label class="form-label">Email</label>
            <input class="form-control"
                    id="email"
                    name="email"
                    th:field="*{email}"
                    type="email"
            />
            <p th:errors = "*{email}" class="text-danger"
               th:if="${#fields.hasErrors('email')}"></p>
          </div>

          <div class="form-group mb-3">
            <label class="form-label">Mot de passe</label>
            <input class="form-control"
                    id="password"
                    name="password"
                    th:field="*{password}"
                    type="password"
            />
            <p th:errors = "*{password}" class="text-danger"
               th:if="${#fields.hasErrors('password')}"></p>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Enregistrement</button>
            <span>Déjà un compte ? <a th:href="@{/login}">Connexion</a></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>