 <!DOCTYPE html>
    <html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta th:insert="~{baseElements/scripts :: script}">
        <title>Déclaration de frais - Transport</title>
    </head>
<body>
<div th:insert="~{baseElements/navbar :: navbar}"></div>
<div class="container">
    <div th:insert="~{baseElements/declarationNavbar :: declarationNavbar}"></div>
    <div class="container">
        <h1>Déclaration de frais - Transport</h1>

        <form class="form" method="post" th:action="${flowExecutionUrl}" th:object="${fileUploadHandler}" enctype="multipart/form-data">


            <div class="row">

                <div class="form-check">
                    <label for="file">Choisissez un fichier :</label>
                    <input type="file" id="file" name="file" accept=".pdf, .doc, .docx"/>
                </div>

            </div>

            <hr>

            <hr>

            <div class="col">
                <div class="form-group">
                    <label for="avancer"></label>
                    <input class="btn btn-primary" type="submit" name="_eventId_submit" id="avancer" value="Ajouter le justificatif" />
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
