<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta th:insert="~{baseElements/scripts :: script}">
    <div th:insert="~{baseElements/declarationNavbar :: declarationNavbarStyle}"></div>
    <title>Home</title>
</head>
<body>
<div th:insert="~{baseElements/navbar :: navbar}"></div>
<div class="container">
    <div th:insert="~{baseElements/declarationNavbar :: declarationNavbar}"></div>
    <div class="container">

        <form class="form" method="post" th:action="${flowExecutionUrl}" th:object="${newTransportExpense}">

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Votre mode de transport</label>
                        <div class="form-check">
                            <label for="transportPublic" class="form-check-label">Transports en commum (Bus, Train...)</label>
                            <input type="radio" id="transportPublic" name="transportMode" th:field="*{typeTransport}" value="Transport en commum" class="form-check-input"/>
                        </div>
                        <div class="form-check">
                            <label for="vehiculePersonnel" class="form-check-label">J'ai utilisé mon véhicule</label>
                            <input type="radio" id="vehiculePersonnel" name="transportMode" th:field="*{typeTransport}" value="Véhicule personnel" class="form-check-input"/>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <!-- Radio buttons for selecting the starting point -->
                    <div class="form-group">

                        <label>Votre lieu de départ</label>
                        <div class="form-check">
                            <label for="domicile" class="form-check-label">Votre domicile</label>
                            <input type="radio" id="domicile" name="startingPoint" th:field="*{lieuDepart}" value="Domicile" class="form-check-input"/>
                        </div>
                        <div class="form-check">
                            <label for="etablissementScolaire" class="form-check-label">Votre établissement scolaire</label>
                            <input type="radio" id="etablissementScolaire" name="startingPoint" th:field="*{lieuDepart}" value="Établissement" class="form-check-input"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-check">
                    <label for="montant" class="form-label">Montant</label>
                    <input type="number" id="montant" name="startingPoint" th:field="*{montant}" value="home" aria-describedby="montantHelper" class="form-control"/>
                    <small id="montantHelper" class="form-text text-muted">Un montant maximun est autorisé.</small>

                </div>
            </div>


            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="annuler"></label>
                        <input class="btn btn-danger" type="submit" name="_eventId_cancel" id="annuler" value="Annuler" />
                    </div>
                </div>
                <div class="col">

                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="avancer"></label>
                        <input class="btn btn-primary" type="submit" name="_eventId_submit" id="avancer" value="Avancer" />
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>

</body>
</html>