<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta th:insert="~{baseElements/scripts :: script}">
    <title>Frais de transport</title>
</head>
<body>
<div th:insert="~{baseElements/navbar :: navbar}"></div>
<div class="container">
    <div th:insert="~{baseElements/declarationNavbar :: declarationNavbar}"></div>
    <div class="container">
    <h2>Frais de transport</h2>

    <!-- Display a message if no transport expenses are available -->
    <div th:if="${#lists.isEmpty(declaration.transportExpenses)}">
        <p>No transport expenses available.</p>
    </div>

    <!-- Display the list of transport expenses -->
    <div th:if="${not #lists.isEmpty(declaration.transportExpenses)}">
        <table class="table">
            <thead>
            <tr>
                <th>Lieu de départ</th>
                <th>Type de transport</th>
                <th>Montant</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <!-- Iterate over the transport expenses -->
            <tr th:each="transportExpense : ${declaration.transportExpenses}">
                <td th:text="${transportExpense.lieuDepart}"></td>
                <td th:text="${transportExpense.typeTransport}"></td>
                <td th:text="${transportExpense.montant}"></td>
                <td>
                    <!-- Add a button to delete the transport expense -->
                    <form th:action="@{/deleteTransportExpense}" method="post">
                        <input type="hidden" name="transportExpenseId" th:value="${transportExpense.id}" />
                        <input type="button" class="btn btn-primary" name="_eventId_editTransportExpense" />
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Buttons to navigate to different parts of the subflow -->
    <form th:action="${flowExecutionUrl}" method="post">
        <input type="hidden" name="_eventId_addTransportExpense" />
        <button type="submit" class="btn btn-primary">Ajouter un frais de transport</button>
    </form>

    <form th:action="${flowExecutionUrl}" method="post">
        <input type="hidden" name="_eventId_submitTransportExpenses" />
        <button type="submit" class="btn btn-success">Passer à l'étape suivante</button>
    </form>

    <form th:action="${flowExecutionUrl}" method="post">
        <input type="hidden" name="_eventId_cancel" />
        <button type="submit" class="btn btn-danger">Annuler</button>
    </form>
    </div>
</div>
</body>
</html>
