<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:insert="~{baseElements/scripts :: script}"></div>
    <title>Home</title>
</head>
<body>
<div th:insert="~{baseElements/navbar :: navbar}"></div>
<div class="container">
    <div th:insert="~{baseElements/declarationNavbar :: declarationNavbar}"></div>
    <div class="container">

        <form class="form" method="post" th:action="${flowExecutionUrl}">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="annuler"></label>
                        <input class="btn btn-danger" type="submit" name="_eventId_cancel" id="annuler" value="Annuler" />
                    </div>
                </div>
                <div class="col">

                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="avancer"></label>
                        <input class="btn btn-primary" type="submit" name="_eventId_nextStep" id="avancer" value="Avancer" />
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>

</body>
</html>