<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta th:insert="~{baseElements/scripts :: script}">
    <div th:insert="~{baseElements/declarationNavbar :: declarationNavbarStyle}"></div>
    <title>Déclaration - Récapitulatif</title>
</head>
<body>
<div th:insert="~{baseElements/navbar :: navbar}"></div>
<div class="container">
    <div th:insert="~{baseElements/declarationNavbar :: declarationNavbar}"></div>
    <div class="container">
        <h2>Déclaration - Récapitulatif</h2>

        <div class="row">
            <div class="col-md-6">
                <h4>Declaration Information</h4>
                <p>Date Declaration: <span th:text="${declaration.dateDeclaration}"></span></p>
                <p>Lieu Formation: <span th:text="${declaration.lieuFormation}"></span></p>
                <p>Intitule Formation: <span th:text="${declaration.intituleFormation}"></span></p>
                <p>Statut: <span th:text="${declaration.statut}"></span></p>
            </div>

            <div class="col-md-12">
                <h4>Compte bancaire choisi</h4>
                <p>Nom Enregistrement: <span th:text="${declaration.bankDetails?.nomEnregistrement}"></span></p>
                <p>Nom Compte: <span th:text="${declaration.bankDetails?.nomCompte}"></span></p>
                <p>Prenom Compte: <span th:text="${declaration.bankDetails?.prenomCompte}"></span></p>
                <p>IBAN: <span th:text="${declaration.bankDetails?.IBAN}"></span></p>
                <p>Nom Banque: <span th:text="${declaration.bankDetails?.nomBanque}"></span></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Accommodation Expense</h4>
                <p>Accommodation Type: <span th:text="${declaration.accommodationExpense?.accomodationType}"></span></p>
                <p>Montant: <span th:text="${declaration.accommodationExpense?.montant}"></span></p>
            </div>
            <div class="col-md-12">
                <h4>Transport Expenses</h4>
                <ul>
                    <li th:each="expense : ${declaration.transportExpenses}">
                        Type: <span th:text="${expense.typeTransport}"></span>,
                        Lieu Depart: <span th:text="${expense.lieuDepart}"></span>,
                        Montant: <span th:text="${expense.montant}"></span>
                    </li>
                </ul>
            </div>
            <div class="col-md-12">
                <h4>Meal Expenses</h4>
                <ul>
                    <li th:each="expense : ${declaration.mealExpenses}">
                        Montant: <span th:text="${expense.montant}"></span>,
                        Justificatif: <span th:text="${expense.justificatif}"></span>
                    </li>
                </ul>
            </div>
        </div>

        <form class="form" method="post" th:action="${flowExecutionUrl}">
        <div class="col">
            <div class="form-group">
                <label for="avancer"></label>
                <input class="btn btn-primary" type="submit" name="_eventId_submit" id="avancer" value="Valider" />
            </div>
        </div>
        </form>

    </div>
</div>


</body>
</html>
