<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="~{baseElements/scripts :: script}"></div>

</head>
<body>
<div th:insert="~{baseElements/navbar :: navbar}"></div>
<div class="container mt-2">

    <h1>Mes Déclarations</h1>
    <div class="row">
        <div class="col">
            <a class="btn btn-secondary" href="/">Retour</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" href="/user/new">Créer</a>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Date Declaration</th>
                <th>Lieu Formation</th>
                <th>Intitule Formation</th>
                <th>Statut</th>
                <th>Date Creation</th>
                <th>Date Validation</th>
                <th>User</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody th:if="${!#lists.isEmpty(expenseDeclarations)}">
            <!-- Iterate over the list of expense declarations -->
            <tr th:each="declaration : ${expenseDeclarations}"  th:with="statutDeclaration=${T(fr.limayrac.declarationFrais.declarationFrais.enums.statutDeclaration)}">
                <td th:text="${declaration.id}"></td>
                <td th:text="${#dates.format(declaration.dateDeclaration, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${declaration.lieuFormation}"></td>
                <td th:text="${declaration.intituleFormation}"></td>
                <td>
                    <span th:if="${declaration.statut == statutDeclaration.EN_ATTENTE}">En attente</span>
                    <span th:if="${declaration.statut == statutDeclaration.VALIDE}">Validée</span>
                    <span th:if="${declaration.statut == statutDeclaration.INVALIDE}">Invalidée</span>
                </td>
                <td th:text="${#dates.format(declaration.dateValidation, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${declaration.user != null ? declaration.user.getFullName() : 'N/A'}"></td>
                <td>
                    <a th:href="@{'/declaration/details/' + ${declaration.id}}">Détails</a>

                    <div class="col">
                        <form method="post" th:action="@{'/declaration/validate/' + ${declaration.id}}">
                            <button class="btn btn-success" type="submit" th:if="${declaration.statut == statutDeclaration.EN_ATTENTE}">Valider</button>
                        </form>
                    </div>
                    <div class="col">
                        <form method="post" th:action="@{'/declaration/invalidate/' + ${declaration.id}}">
                            <button class="btn btn-danger" type="submit" th:if="${declaration.statut == statutDeclaration.EN_ATTENTE}">Invalider</button>
                        </form>
                    </div>


                </td>
            </tr>
            </tbody>
            <tbody th:if="${#lists.isEmpty(expenseDeclarations)}">
            <tr>
                <td colspan="100%">Aucune déclaration enregistrée.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>